<%= form_for(@blog, url: blogs_path) do |f| %>
<div class="container">
  <div class="field">
    <h4>Title</h4><br>
    <%= f.text_field :title %>
  </div>
  <br>
  <div class = "field">
    <h4>Description</h4> <br>
    <textarea id="post[text]" rows="15" cols="100" name="post[text]" placeholder="Interesting..." class="form-control"></textarea>
  </div>
  <br>
  <div class = "field">
    <h4>Photo</h4><br>
    <%= f.file_field :photo %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
