<head>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_pack_tag "application" %>
</head>

<section class="splash-section">
  <div class="splash-inner-content">
    <div class="container">
      <div class="container page-container">
        <div class="splash-title">
          <p style="text-align: center; font-size: 50px;">Welcome Home</p>
          <p style="text-align: center; font-size: 25px;"><%= link_to 'Go to Blogs', blogs_path, class: 'nav-link' %></p>
        </div>
      </div>
    </div>
  </div>
</section>
